* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: #2B2F39;
}

h2 {
  color: #fff;
font-size: 1.8em;
}

h3 {
    line-height: 3;
    font-size: 1.5em;
    color: #fff;
}

p {
  color: #fff;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .header nav{
        display: flex;
        gap: 10px;
    }
    .header nav ul{
        display: flex;
        gap: 25px;
        list-style: none;
        margin-left: 40px;
    }
    .header nav ul li{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
        border-bottom: 3px solid transparent;
        transition: border-color 0.2s ease;
    }
    .header nav ul li:hover{
        border-bottom-color: #f8eb57; 
    }
    .header nav ul li a{
     text-decoration: none;
     color: #fff;
    }

    .hamburger-card {
        display: none;
      }

    @media (max-width: 1280px) {
        .header{
            padding: 20px 25px;
        }
        .header nav{
            display: none;
        }
        main{
          padding: 20px 25px;
        }
        footer{
            padding: 20px 25px;
        }
        .footer-content{
            flex-direction: column;
            gap: 40px;
        padding: 0;
        }
        .SoMe{
           flex-direction: column;
           gap: 20px;
        }
        .hamburger-card {
            display: block;
          }
        
          .hamburger {
            display: block;
            height: 40px;
            z-index: 20;
            position: absolute;
            top: 28px;
            right: 25px;
          }
        
          .hamburger-content {
            display: none;
            flex-direction: column;
            width: 100vw;
            gap: 30px;
            position: relative;
            top: 30px;
            text-align: center;
            padding: 0;
            padding-bottom: 20px;
            background-color: var(--main-white);
          }
        
          .hamburger-card.open .hamburger-content {
            display: flex;
          }
        
          .hamburger-card a {
            font-size: 18px;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            border-bottom: 3px solid transparent;
            transition: border-color 0.2s ease;
          }
          .hamburger-card a:hover{
            border-bottom-color: #f8eb57; 
           }
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: Arial, sans-serif;
        }
        
        

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 100px;
            margin-bottom: 100px;
  
            

        }
        
       
        .textDiv {
            margin-left: 10%;
            color: #fff;
        }

        .imgDiv {
            color: #fff;
           text-align: center;
margin-right: 10%;
    
       
   
        }

        .imgDiv h2 {
        margin-bottom: 25px;
        }

    .caseOverskrift {
    margin-left: 10%;
    
    }

    /* Her er en div med casearbejde */    
    .overkasse {
      display: flex;
      vertical-align: top;
      gap: 1em;
      width: 80%;
      margin: auto;
      
    }
    .kasse {
      flex: 1;
      display: flex;
      flex-direction: column;
      vertical-align: top;
      height: auto;
      border: 1px solid black;
      background-color: rgb(74, 144, 226);
      border-radius: 10px;
      
    }
    .kasse p {

      width: 80%;
      padding: 0 0px;
      align-self: center;
      color: #fff;
    }
    .kasse img {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin-bottom: 20px;
    }

    .kasse a {
      color: #fff;
      margin-left: 10%;
    }
    
/* Her er en div til at beskrive, hvem jeg er. */
      .whoAmI {
        color: #fff;
        margin: auto;
        width: 700px;
        margin-bottom: 100px;
      }
        
    

















      /* Webudvikling siden */

      .webudviklingCases {
        background-color: rgb(74, 144, 226);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        margin-left: 20%;
        margin-right: 20%;
      }

      .webudviklingCases p {
      width: 600px;
      }

      .webudviklingBilleder {
      width: 100%;
      }
        