* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: #2B2F39;
}

h2 {
  color: #fff;
font-size: 28px;
line-height: 3;
}

h3 {
    line-height: 3;
    font-size: 24px;
    color: #fff;
}

p {
  color: #fff;
  font-size: 18px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .header nav{
        display: flex;
        gap: 10px;
    }
    .header nav ul{
        display: flex;
        gap: 50px;
        list-style: none;
        margin-left: 40px;
    }
    .header nav ul li{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
        border-bottom: 3px solid transparent;
        transition: border-color 0.2s ease;
    }
    /* hover effekt med linje */
    .header nav ul li:hover{
        border-bottom-color: rgb(74, 144, 226); 
    }
    .header nav ul li a{
     text-decoration: none;
     color: #fff;
    }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: Arial, sans-serif;
        }
        
        

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 100px;
            margin-bottom: 100px;
  
            

        }
        
       
        .textDiv {
            margin-left: 10%;
            color: #fff;
        }

        .imgDiv {
            color: #fff;
           text-align: center;
margin-right: 10%;
    
       
   
        }

        .imgDiv h2 {
        margin-bottom: 25px;
        }

    .caseOverskrift {
    margin-left: 10%;
    
    }

    /* Her er en div med casearbejde */    
    .overkasse {
      display: flex;
      vertical-align: top;
      gap: 1em;
      width: 80%;
      margin: auto;
      
    }
    .kasse {
      flex: 1;
      display: flex;
      flex-direction: column;
      vertical-align: top;
      height: auto;
      border-radius: 25px;
        border: 1px solid rgb(49, 49, 49);
        box-shadow: 1px 1px 10px 0px;
      
    }
    .kasse p {

      width: 80%;
      padding: 0 0px;
      align-self: center;
      color: #fff;
    }
    .kasse img {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin-bottom: 20px;
    }

    .kasse a {
      color: #fff;
      margin-left: 10%;
      font-size: 20px;
    }
    
/* Her er en div til at beskrive, hvem jeg er. */
      .whoAmI {
        color: #fff;
        margin: auto;
        width: 700px;
        margin-bottom: 100px;
        margin-top: 100px;
      }
        
    

















      /* Webudvikling siden */

      .webudviklingCases a {
      margin-top: 15px;
      line-height: 2;
      font-size: 25px;
      color: #fff;
      }

      .webudviklingCases {
        
        border-radius: 25px;
        border: 1px solid rgb(49, 49, 49);
        box-shadow: 1px 1px 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 100px;
      }

      
      .webudviklingCases p {
      width: 600px;
      }

      .webudviklingCases img {
        width: 100%;
      }

      .webudviklingBilleder {
      width: 100%;
      }
      
      .mellemrum {
      margin-bottom: 300px;
      }

      .mellemrubrik {
      font-weight: 700;
      font-size: 20px;
      line-height: 2.5;
      }

      footer {
      text-align: center;
      background-color: rgb(74, 144, 226);
      padding: 50px; 
      text-align: center;
      }

      footer div {
      max-width: 1200px; 
      margin: auto;
      }

      footer a {
      color: #fff;
      font-size: 20px;
      }

      footer img {
      width: 40px; 
      height: 40px; 
      vertical-align: middle;
      }